.ui-fileupload .dz-message {
    border: 1px dashed #8f9496;
    padding: 10px 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #f8fbfc;
    -webkit-box-shadow: 0px 2px 3.88px 0.12px rgba(198, 198, 198, 0.13);
    -moz-box-shadow: 0px 2px 3.88px 0.12px rgba(198, 198, 198, 0.13);
    box-shadow: 0px 2px 3.88px 0.12px rgba(198, 198, 198, 0.13); 
}
    
.dropzone-attachments .ui-fileupload .dz-message {
    cursor: pointer; 
}
.dropzone-attachments .ui-fileupload .dz-message * {
    cursor: default; 
}
.dropzone-attachments .ui-fileupload .dz-message, .dropzone-attachments .ui-fileupload .dropzone * {
    cursor: pointer;
    border: 1px dashed #8f9496;
    -webkit-transition: all, 0.3s ease;
    -o-transition: all, 0.3s ease;
    transition: all, 0.3s ease; 
}
.dropzone-attachments .ui-fileupload .dz-message img {
    -webkit-transition: all, 0.3s ease;
    -o-transition: all, 0.3s ease;
    transition: all, 0.3s ease;
    background-color: #f8fbfc;
    position: relative;
    z-index: 2; 
}
.dropzone-attachments .ui-fileupload .dz-message img.file1 {
    -webkit-transform: rotate(-18deg);
    -moz-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    -o-transform: rotate(-18deg);
    transform: rotate(-18deg);
    top: 13px;
    right: -11px; 
}
.dropzone-attachments .ui-fileupload .dz-message img.file2 {
    top: 0px; 
}
.dropzone-attachments .ui-fileupload .dz-message img.file3 {
    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    -o-transform: rotate(18deg);
    transform: rotate(18deg);
    top: 9px;
    left: -11px;
    z-index: 1; 
}
.dropzone-attachments .ui-fileupload-choose:hover ~ .dz-message {
    border-width: 1px; 
}
.dropzone-attachments .dz-drag-hover ~ .dz-message {
    border: 1px solid #3977ad;
}
.dropzone-attachments .ui-fileupload-choose:hover ~ .dz-message img.file1, .dropzone-attachments .dz-drag-hover ~ .dz-message img.file1 {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg);
    top: 6px;
    right: -9px; 
}
.dropzone-attachments .ui-fileupload-choose:hover ~ .dz-message img.file2, .dropzone-attachments .dz-drag-hover ~ .dz-message img.file2 {
    top: -8px; 
}
.dropzone-attachments .ui-fileupload-choose:hover ~ .dz-message img.file3, .dropzone-attachments .dz-drag-hover ~ .dz-message img.file3 {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
    top: 2px;
    left: -9px; 
}
.tab-modal .modal-dialog .modal-content .modal-body .tab-content .tab-pane#secAttachement .modal-grid {
    height: calc(100% - 240px) !important;
}