label{
    font-weight:300;
    font-family:$font-Muso;
    font-size: 1.2rem;
}
.form-group{
    position: relative;
}
.form-control{
    color:$color-grey-dark-4;
}
.input-group {
    width: 100%;
    position: relative;
    &-addon {
        @include border-radius (0);
        background-color: transparent;
        border-color: transparent;
        color:$color-grey-dark-4;
        position: absolute;
        left: 0;
        z-index: 9;
        height: 34px;
        line-height: 34px;
        padding: 0;
        top: 0;
        width: 20px;
        &.edit-group {
            height: 24px;
            line-height: 24px;
            margin: 0;
            width: 9px;
        }
    }
    .form-control{
        padding-left: 20px;
        &.editable  {
            background-color: transparent;
            border: 0;
            line-height:24px;
            padding:0 0 0 9px;
            height: 24px;
            border: 1px solid transparent;
        }
    }
    .editable-container {
        .form-control{
            padding:0 0 0 10px;
            height: 22px;
        }
    }
}
a.editable{
    background: transparent;
    border: transparent;
    padding: 0px;
    height: 24px;
}
.editable-unsaved{
    font-weight: normal;
}
.form-control-static{
    font-weight:500;
    font-family:  $font-Muso500;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
}
// Labels
.label{
    font-family: $font-Muso;
    border: 1px solid transparent;
    font-size: 1.4rem;   
    padding: 2px 5px;
    letter-spacing: letterspacing-to-ems(100);
    font-weight:300;
    &-filter{
        background-color: $color-tertiary-light;
        color: $color-white;
        padding: 1px 8px 2px 8px;
        @include box-shadow (none);
        border: 1px solid $color-tertiary-light;
        @include border-radius (4px);
        margin-left: 10px;
        a{
            color: $color-white;
            font-size: 1.4rem;
            padding-left:$w-5*2;
            text-decoration: none;
            &:hover{
                color: darken($color-white,10%);
            }
        }
    }
}

.font{
    &-red{
        color:$color-red-dark;
    }
    &-green{
        color:$color-green;
    }
}
.select-error, .error {
    &.bootstrap-select, > .bootstrap-select {
        button {
            &, &:hover {
                border-color: $color-red-dark !important;
                z-index: 999;
            }
        }
    }
}
input.error, select.error {
    border-color: $color-red-dark !important;
}
label.error {
    position: absolute;
    font-size: 1.1rem;
    color: $color-red-dark;
    text-align: right;
    margin-bottom: 0;
    font-family: $font-Muso;
    width: 100%;
    line-height: 15px;
}
[type="checkbox"] {
    label{
        margin-bottom:0px !important;
    }
    &:not(:checked), &:checked {
        position: absolute;
        left: -9999px;
        + label {
            position: relative;
            font-family: $font-Muso500;
            cursor: pointer;
            font-size:1.4rem;
            padding-left: 25px;
            
            &:before {
                content: '';
                position: absolute;
                left:0; 
                top: 50%;
                margin-top:-9px;
                width: 16px; 
                height: 16px;
                border: 2px solid #969ca0;
                background: $color-white;
                @include transition(all .3s ease-in-out); 
            }
            &:after{
                content: '\2713';
                position: absolute;
                top: 3px;
                left: 3px;
                font-size: 11px;
                color: $color-white;
                @include transform (rotate(10deg));
                @include transition(all .3s ease-in-out); 
            }
        }
    }
    &:not(:checked) {
        + label {
            &:before {
                border: 1px solid #969ca0;
                background-color:transparent;
            }
            &:hover {
                &:before {
                    border: 1px solid #969ca0;
                    background-color:#969ca0;
                }
            }
        }
    }
    &:checked {
        + label {
            &:before {
                border: 1px solid $color-tertiary-light;
                background-color: $color-tertiary-light;
            }
        }
    }
    &:disabled {
        + label {
            cursor: not-allowed;
            @include opacity (0.8);
        }
        &:not(:checked) {
            + label {
                &:hover {
                    &:before {
                        border: 1px solid #969ca0;
                        background-color:transparent;
                    }
                }
                cursor: not-allowed;
                @include opacity (0.8);
            }
        }
    }
}
.checkbox{
    margin-bottom: 0px;
    [type="checkbox"] {
        &:not(:checked), &:checked {
            + label{
                display: block;
            }
        }
    }
}
.radio{
    display: block;
    margin-bottom: 0px;
    .form__radio {
        &-group{
            display: inline-block;
        }
        &-label{
            display: block;
        }
    }
}

//radio
.radio-inline, .radio{
    .form__radio {
        &-group{
            display: inline-block;
        }
        &-label{
            padding-left: 25px;
            cursor: pointer;
            position: relative;
            padding-right: 30px;
            font-size: 14px;
            font-family: $font-Muso500;
            margin-bottom: 0;
        }
        &-button{
            width: 16px;
            height: 16px;
            border:1px solid #969ca0;
            @include border-radius (50%);
            display: inline-block;
            position: absolute;
            top: 2px;
            left: 0;
            @include transition(all .3s ease-in-out); 
        }
        &-input{
            display: none;
            &:checked {
                ~ .form__radio-label {
                    .form__radio-button {
                        border: 4px solid $color-tertiary-light;
                    }
                }
            }
            &:not(:checked) {
                &:hover {
                    ~ .form__radio-label .form__radio-button {
                        border:4px solid #969ca0;
                    }
                    &:disabled {
                        ~ .form__radio-label .form__radio-button {
                            border:1px solid #969ca0;
                        }
                    }
                }
            }
            &:disabled {
                ~ .form__radio-label, ~ .form__radio-button {
                    cursor: not-allowed;
                    @include opacity (0.8);
                }
            }
        }
    }
}

.dropdown-menu{
    padding: 0; 
    margin: 0;
    border: 0;
    @include border-radius (4px);
    /* Let's get this party started */
    &::-webkit-scrollbar {
        width: 6px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        @include border-radius (7px);
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        @include border-radius (7px);
        background-color: rgba(218, 218, 218, 0.4);
        right: 2px;
        position: relative;
        bottom: 2px;
    }
    &::-webkit-scrollbar-thumb:window-inactive {
        background-color: rgba(218, 218, 218, 0.4);
        right: 2px;
        position: relative;
        bottom: 2px;
    }
    li{
        padding: 0 4px;
        a{
            padding: 10px 10px;
            border-bottom: 1px solid $color-grey-light-4;
            cursor: pointer;
            &:hover, &.selected{
                color: $color-white !important;
            }
            &:focus {
                background-color: transparent;
            }
            &.disabled {
                @include opacity (0.8);
                cursor: not-allowed;
            }
        }
        &:last-child > a{
            border-bottom-color: transparent;
        }
        &:hover {
            background:linear-gradient($color-tertiary-dark , $color-tertiary-medium);
            color: $color-white;
            > a, {
                color: $color-white;
                background-color: transparent;
                border-bottom-color: transparent;
                &.disabled {
                    @include opacity (0.8);
                    cursor: not-allowed;
                }
            }    
        }
        &.active, &.selected {
            &:hover {
                background:linear-gradient($color-tertiary-dark , $color-tertiary-medium) !important;
                color: $color-white;
                > a, {
                    color: $color-white;
                    background-color: transparent;
                    border-bottom-color: transparent;
                    .glyphicon-ok {
                        color: $color-white;
                    }
                    &.disabled {
                        @include opacity (0.8);
                        cursor: not-allowed;
                    }
                } 
            }
            > a {
                color: $color-grey-dark-4;
                .glyphicon-ok {
                    @include transform (rotate(10deg));
                    margin-top: 6px !important;
                    position: absolute;
                    display: inline-block !important;
                    right: 15px;
                    color: $color-tertiary-light;
                    &:before {
                        content: '\2713';
                    }
                }
                &.disabled {
                    @include opacity (0.8);
                    cursor: not-allowed;
                }
            }
        }
        &:first-child:hover, &:first-child.active {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        &:last-child:hover, &:last-child.active {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
    .bs-searchbox + &.inner {
        max-height: calc(290px - 44px) !important;
    }
    &.inner,&.typeahead{
        li{
            &.active {
                a {
                    background-color: transparent;
                }
            }
            &:first-child:hover, &:first-child.active {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
            &:last-child:hover, &:last-child.active {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
    &.open {
        margin-top: -1px;
    }
}

.bootstrap-select{
    min-height: 34px;
    display: flex;
    height: auto;
    .dropdown-toggle {
        font-family: $font-Muso500; 
    }
    .btn-default {
        padding-right:25px !important;
    }
    &.dropdown-resizing{
        margin-left: 0 !important;
        height: auto;
        display: inline-block;
        &.open {
            .dropdown-menu{
                &.open{
                    min-height: 0 !important;
                }
                &.inner{
                    min-height: 0 !important;
                }
                // @include animation (fadeAndScale 0.2s linear forwards);
            }
        }
        &.position-dropdown{
            .dropdown-menu{
                top:100%;
            }
        }
        .dropdown-menu{
            li{
                a{
                    white-space: nowrap;
                    .glyphicon-ok {
                        &:before {
                            content: '\2713';
                        }
                    }
                }
            }
        }
        .dropdown-toggle{
            width: auto;
            padding: 0px 28px 6px 2px;
            height:38px;
            color: $color-grey-dark-4;
            .filter-option{
                text-transform: uppercase !important;
                font-family: $font-Muso700 !important;
                font-size:18px !important;
                padding: 6px 6px 0px 0 !important;
            }
            .caret{
                top:28% !important;
                right: 20px !important;    
                background-image: url(#{$images-path}/caret.png);
                background-repeat: no-repeat;
                width: 15px;
                height: 15px;
                border:none;
                margin-top: 0 !important;
            }
        }
        .dropdown-menu{            
            // -webkit-transform-origin: top right;
            // transform-origin: top right;
            // display: block;
            // @include opacity (0);
            // transform: scale(0, 0);
            // @include animation (fadeAndScale1 0.8s linear forwards);
            // padding: 0px;
            // border: 0;
            @include border-radius (4px);
            height: auto;    
            max-height: inherit !important;
            .dropdown-header {
                text-transform: capitalize;
                padding: 8px 10px;
                span{  
                    font-size: 1.4rem;
                    color: $c-primary; 
                }
                &:hover{
                    background: transparent;
                }
            }  
            .divider{
                display: none;	
            }
            li{
                padding: 0 4px;
                a{
                    color:$color-grey-dark-4;
                    &:hover,&:focus{
                        background-color: transparent;
                    }
                    span{
                        &.text{
                            font-family: $font-Muso500 !important; 
                            color:$c-primary;      
                            font-size: 1.4rem;
                            text-transform: none !important;
                        }
                    }
                    &.opt{							
                        padding-top:8px;
                        padding-bottom: 8px;
                    }						
                }
                &:last-child > a{
                    border-bottom-color: transparent;
                }
                &:hover, &.active, &.selected {                    
                    background-color: transparent !important;
                    a {
                        color: $color-white !important;
                        background-color: transparent !important;
                        border-bottom-color: transparent;
                    }
                }
                &:hover > a > span,
                &.active > a, &.selected > a {
                    color: $color-white !important;
                    background-color: transparent !important;
                    border-bottom-color: transparent;
                    span{
                        &.text{
                            color: $color-grey-dark-4;
                        }
                    }
                }
                &:first-child:hover, &:first-child.active, &:first-child.selected {
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px; 
                }
                &:last-child:hover, &:last-child.active, &:last-child.selected {
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
            }
        }
        button{
            border: none;
            font-size: 18px;
        }
    }
    &.stateusers{
        .dropdown-menu{
            // -webkit-transform-origin: top right;
            // transform-origin: top right;
            // display: block;
            // @include opacity (0);
            // transform: scale(0, 0);
            // @include animation (fadeAndScale1 0.8s linear forwards);
            // padding: 0px;
            // border: 0;
            @include border-radius (4px);
            .dropdown-header {
                text-transform: capitalize;
                padding: 8px 10px;
                span{  
                    font-size: 1.4rem;
                    color: $c-primary; 
                    font-family: $font-Muso700;
                }
                &:hover{
                    background: transparent !important;
                }
            }  
            .divider{
                display: none;	
            }
            li{
                padding: 0 4px;        
                a{
                    font-size: 1.4rem;
                    color: $c-primary; 
                    &:hover,&:focus{
                        background-color: transparent ;
                    }
                    span{
                        &.text{
                            font-family: $font-Muso !important; 
                            color:$c-primary;      
                            font-size: 1.4rem;
                            text-transform: none !important;
                        }
                    }
                    &.opt{							
                        padding-top:8px;
                        padding-bottom: 8px;
                    }						
                }
                &:last-child > a{
                    border-bottom-color: transparent;
                }
                &:hover, &.active, &.selected {
                    background:linear-gradient($color-tertiary-dark , $color-tertiary-medium) !important;
                    a {
                        color: $color-white;
                        background-color: transparent !important;
                        border-bottom-color: transparent;
                    }
                }
                &:hover > a > span,
                &.active > a, &.selected > a {
                    color: $color-white;
                    background-color: transparent;
                    border-bottom-color: transparent;
                    span{
                        &.text{
                            color:$color-white;
                        }
                    }
                }
                &:first-child:hover, &:first-child.active, &:first-child.selected {
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                }
                &:last-child:hover, &:last-child.active, &:last-child.selected {
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
            }
        }
        &.selectIcon {
            .dropdown-menu {
                .dropdown-header {
                    &:first-child {
                        span {
                            &:after {
                                content: "\f129";
                                display: inline-block;
                                font-family:FontAwesome;
                                font-size: 11px;
                                text-rendering: auto;
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                height:15px;
                                width: 15px;
                                line-height: 15px;
                                @include border-radius (15px);
                                border: 1px solid $c-primary;
                                margin-left: 5px;
                                color:$c-primary;
                                text-align: center;
                            }
                        }

                    }
                }
            }
        }
    }
    .dropdown-menu{
        max-height: 290px !important;
        overflow-y: auto;
        overflow-x: hidden;
        /* Let's get this party started */
        &::-webkit-scrollbar {
            width: 6px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            @include border-radius (7px);
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            @include border-radius (7px);
            background-color: rgba(218, 218, 218, 0.4);
            right: 2px;
        }
        &::-webkit-scrollbar-thumb:window-inactive {
            background-color: rgba(218, 218, 218, 0.4);
            right: 2px;
        }
    }
}

span select#width_tmp_select {
    display: none;
}

.healper-text {
    display: block;
    font-size: 11px;
    padding-left: 27px;
    @include opacity (0.7);
}


.truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
.truncate-sm{
    max-width:130px;
}
.truncate-md{
    max-width:250px;
}
//truncate text 
.label-addTag {
    float: left;
    padding: 6px 25px 6px 12px;
    background-color: $color-grey-light-4;
    margin-right: 5px;
    cursor: pointer;
    @include border-radius (4px);
    position:relative;
    margin:3px 10px 3px 0;
    border: 1px solid $color-grey-light-4;
    &.display-case{
        padding: 6px 12px;
    }
    &.new{
        border: 1px solid $color-tertiary-light;
    }
    a.clear-newtag{
        text-decoration:none;
        color:$color-grey-dark-4 !important;
        position:absolute;
        right: 6px;
    }
}
.help-icon{
    color: $color-tertiary-light;
    &:hover{
        color: $color-tertiary-light;
    }
}
.add-clear-span {
    &.form-group {
        margin-bottom: 0 !important;
    }
    span{
        color:$color-grey-dark-4 !important;
    }
} 
.bootstrap-select.btn-group .dropdown-toggle[title="Select"] .filter-option {
    color: rgba(105, 114, 121, 0.6);
    font-style: italic;
}

/* Bootstrap select break in lines*/
.bootstrap-select .filter-option {
    white-space: normal;
}
.bootstrap-select .btn-default{
    height: auto !important;
}
textarea{resize: vertical;}

// Custom CSS for typeahead

.typeahead-custom{
    typeahead-container{
        width:100%;

        .dropdown-menu{
            max-height: 290px;
            overflow-y: auto;
            overflow-x: hidden;
            @include border-radius (0);
            width: 100%;
            li{
                &:hover{
                    background: linear-gradient($color-tertiary-dark, $color-tertiary-medium);
                    color:$color-white;
                    border-bottom: none;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;

                    a{
                        color: $color-white;
                        background-color: transparent;
                        border-bottom-color: transparent;
                    }
                }
                &:active,
                &:last-child.active{
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
                &.active > a,
                &.selected > a{
                    color:#333333;
                    padding: 10px 10px;
                    border-bottom: 1px solid $color-grey-light-4;
                    cursor: pointer;
                    background-color: transparent;
                }
                
                >a{
                    color:#333333;
                    padding: 10px 10px;
                    border-bottom: 1px solid $color-grey-light-4;
                    cursor: pointer;
                    background-color: transparent;
                    span{
                        strong{
                            font-weight: normal;
                            font-family: $font-Muso;
                        }
                    }
                }
            }
        }
    }
}

.typeahead-custom typeahead-container .dropdown-menu li:hover a{
    color: $color-white;
    background-color: transparent;
    border-bottom-color: transparent;
}
  
.typeahead-custom typeahead-container .dropdown-menu li.active > a, .typeahead-custom typeahead-container .dropdown-menu li.selected > a{
    color:$color-grey-dark-4;
}

.switch {
	position: relative;
	display: inline-block;
	width: 54px;
    height: 28px;
    input {
        display:none;
        &:checked {
            + .slider {
                background-color: $color-tertiary-light;
                &:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }
            }
        }
        &:disabled {
            + .slider {
                cursor:not-allowed;
                background-color: $color-tertiary-light;
                &:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }
            }
        }
        &:focus {
            + .slider {
                box-shadow: 0 0 1px $color-tertiary-light;
            }
        }
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color-grey-light-5;
        @include transition(0.4s);
        &:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 21px;
            left: 3px;
            bottom: 4px;
            background-color: white;
            @include transition(0.4s);
        }
        &.round {
            border-radius: 34px;
            &:before {
                border-radius: 50%;
            }
        }
    }
}
//Dropdown to show on hover
.modalpayroll:hover .dropdown-menu {
    display: block;
}
.date .form-control[readonly] {
    background-color: #fff;
}
.date .form-control[disabled] {
    background-color:#f7f9f9 ;
}
// Sales ipad view
@media (max-width:1024px){
    textarea,
    input.text,
    input[type="text"],
    input[type="button"],
    input[type="submit"],
    input,
    .input-checkbox {
    -webkit-appearance: none;
    border-radius: 0;
    }
    .input-group-pay{
        .input-group-addon{
            left:6px;
            top: -2px ;
        }
    }
    select{
        background-image: none !important;
        background-color: #fff !important;
    }
}
@media (max-width:768px){
    .applied-filters{
        &.ipad-view{
            .label-filter{
                display: none;
            }
            .btn-filter{
                display: inline-block;
            }
        }
    }
}
@media (min-width:769px){
    .applied-filters{
        &.ipad-view{
            .label-filter{
                display: inline-block;
            }
            .btn-filter{
                display: none;
            }
        }
    }
}
