.logo{
    &__img{    
        width: 40rem;
        padding: 2rem 10rem;
    }
}
.login {
    position: relative;
    background-color: $color-white;
    &-design {
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        min-height: 600px;
        width: 100%;
        overflow: hidden;
        &-pic {
            position: absolute;
            &1 {
                right: -35px;
                top: -5px;
                width: 632px;
            }
            &2 {
                right: -258px;
                top: 13.54%;
                width: 425px;
                @include animation (img-2 10s linear infinite);
            }
            &3 {
                right: 106px;
                top: 33.98%;
                @include border-radius (50%);
                z-index: -1;
                background-color: #ffb624;
                width: 180px;
                height: 180px;
                @include box-shadow (7px 7px 10px rgba($color-black, 0.30));
                &:before {
                    content: "";
                    position: absolute;
                    border: 2px dashed #0a5eb9;
                    width: 154px;
                    height: 154px;
                    top: 13px;
                    left: 13px;
                    @include border-radius (50%);
                    @include animation (spin 40s linear infinite);
                }
            }
            &4 {
                right: 32px;
                top: 58.20%;
                width: 127px;
            }
            &5 {
                right: 159px;
                top: 73.95%;
                width: 43px;
            }
            &6 {
                right: 28px;
                top: 69.53%;
                width: 155px;
                z-index: -1;                
            }
            &7 {
                background-color: #ffb624;
                @include border-radius (50px);
                display: block;
                right: 100px;
                @include transform(rotate(-45deg));
                height: 46px;
                right: -3px;
                width: 93px;
                top: 78%;
                overflow: hidden;
                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 0;
                    background-color: #ffcd30;
                    height: 46px;
                    width: 75px;
                    @include border-radius (50px);
                    @include animation (img-7 20s linear infinite);
                }
            }
            &8 {
                bottom: -105px;
                right: -22px;
                width: 195px;
            }
        }
    }
}
.section-login{
    position: relative;
    height: 100vh;
}
.book{
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    background-color: transparent;
    @include border-radius (2px);
    z-index: 2;
    &__form{
        width: 100%;
        padding: 3rem;
    }    
    #forgot-form {
        display:none
    }
    #instruction-form {
        display:none
    }
    #reset-form {
        display:none
    }
}
.form{    
    &__group{
       position: relative;
    }
    &__group:not(:last-child){
        margin-bottom: 3rem;
    }
    &__input{
        font-size: 1.4rem;
        padding: 3px 0;
        color: inherit;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 1px solid #d0d8dc;
        width: 100%;
        display: block;
        @include transition(all .3s);
        font-family: $font-Muso500;
        @include placeholder($color: transparent);
        &:focus{
            outline: none;
            border-color:$color-grey-light-5;
        }
    }
    &__input:-webkit-autofill ~ &__label{
        transform: translateY(-22px);
    }
    &__label {
        color: $color-grey-dark-4;
        margin-bottom: 0;
        font-size: 1.2rem;
        display: block;
        @include transition(all .3s);
        position: absolute;
        left: 0;
        top: 0.5rem;
        @include transform(translateY(-22px));
    }
    &__input:placeholder-shown ~ &__label {
        @include opacity (1);
        visibility: visible;
        @include transform(translateY(0));
        font-size: 1.4rem;
    }
    &__input:focus ~ &__label {
        @include opacity (1);
        visibility: visible;
        @include transform(translateY(-22px));
        font-size: 1.2rem;
    }
    &__text{
        font-family: $font-Muso;
        font-weight: normal;
        display: block;
        a{
            color: #5c6cfc;
            text-decoration: none;
            cursor: pointer;
        }
    }
    &__alert{
        font-size: 1.2rem;
    }
}
@media (max-width:910px){
    .login-design-pic3{
        display: none;
    }
}
// @media (max-width: 1300px) and (min-width: 1024px) {
//     .book{
//         background-color: $color-white;
//     }
// }