// Transform
@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
  	-o-transform: $transforms;
  	transform: $transforms;
}
// Keyframes
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content; 
	}
	@-moz-keyframes #{$name} {
	  	@content;
	}
	@-ms-keyframes #{$name} {
	  	@content;
	}
	@keyframes #{$name} {
	  	@content;
	} 
}

//SVG
@mixin h-size($top, $right, $height, $width) {
  position: relative;
  top:$top;
  right: $right;
  height: $height;
  width: $width;
}

@mixin flex {
	display: flex;  
	display: -webkit-box;
	display: -moz-box;
	display: -moz-box;
	display: -webkit-flex;
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}