.morris {
    &-hover {
        position:absolute;
        z-index:1000;
        &.morris-default-style {
            @include border-radius (10px);
            padding:6px;
            color:#666;
            background:rgba($color-white,0.8);
            border:solid 2px rgba(230,230,230,0.8);
            text-align:center;
            .morris-hover-row-label {
                font-weight:bold;
                margin:0.25em 0;
            }
            .morris-hover-point{
                white-space:nowrap;
                margin:0.1em 0;
            }
        }
    }
}
.with-data svg { 
    width: 100%; 
}