//modals with different widths goes here
.modal.modal-sidebar{
	&.fade {
		.modal-dialog{
			right: -320px;
			@include transition (opacity 0.3s linear, right 0.3s ease-out);
		}
		&.in {
			.modal-dialog{
				right: 0;
			}
		}
	}
	&.modal-small {
		.modal-dialog{
			width: (5px * 90);
		}
	}
	&.modal-md {
		.modal-dialog{
			max-width: 700px;
			width: calc(100% - 150px);
			right: -(5px * 180);
		}

	}
	&.modal-xl {
		.modal-dialog{
			max-width: 900px;
			width: calc(100% - 150px);
			right: -(5px * 180);
		}
	}
	&.modal-larger{
		.modal-dialog{
			max-width: 900px;
			width: 80%;
		}
	}
	.modal-dialog{
	    top: 0;
	    position: fixed;
	    margin: 0;
	    width: (5px * 100);
	    height: 100%;
	    border: 0;
		@include transform (translate3d(0%, 0, 0));
		.modal-content{
			border: 0;
			@include border-radius (0);
			height: 100%;
			.modal-header{
				background:linear-gradient( $color-blue-dark, $color-blue-medium);
                color:$color-white;
                padding:23px 15px;
				.modal-title {
                    font-weight: 400;
					font-size:16px;
					font-family: 'TisaOT-Medi';
					letter-spacing: 1.5px;
				}
				.close{
					@include opacity (1);
				}
			}
			.modal-body {
				height: calc(100vh - 126px);
				overflow: hidden;
				padding-bottom: 0;
				&.nofooter {
					height: calc(100vh - 69px);
					padding-bottom: 15px;
				}
			}
			.modal-footer{
				position: absolute;
				bottom: 0;
				width: 100%;
				border-top:0;
			}
		}                                                                                                                                    
	}
	&.sub-modal {
		.modal-dialog {			
			.modal-content {
				.modal-header {
					background-color: #6f6f6f;
				}
			}
		}
	}
}
.modal-topicons{
	list-style: none;
	margin: 0;
	float: right;
	padding-left: 0px;
	display: block;
	> li{
		padding-left: 20px;
		float: right;
		position: relative;
	}
}

.modalfilter,.modalheaderfilter,.modalpayroll, .moredata, .inputbox-settingform{
	.dropdown-menu{  
		left: auto;
		right: 0;
		color: $color-grey-dark-4;
		@include box-shadow (0px 0px 16px rgba($color-black, 0.175));
		li{
			float: left !important;
			padding: 0 !important;
			width: 100%;
			&:hover{
				background: $color-white;
				// border-bottom:1px solid $color-grey-light-4;
			}
			&:hover a{				
				color: $color-grey-dark-4 !important;
			}
			a{
				border-bottom:none;
				padding:7px 10px;
				color: $color-grey-dark-4;
				&:hover, &:focus {
					color: $color-grey-dark-4;
					background-color: transparent;
				}
			}
		}
		h6{
			color: $color-grey-dark-4;
			padding: 10px 5px 5px 10px;
			margin-bottom: 0;
			border-bottom: 1px solid #e3e8ec;
			margin: 0px 5px;
			font-size: 14px;
			a{
				text-decoration: none;
				color: $color-grey-dark-4;
				font-size: 1.3rem;
				margin-top: -6px;
				&:hover{
					color: rgba($color-grey-dark-4, 0.6);
				}
			}
		}
	}
}
.icon-attachments-upload {
	.dropdown-menu{  
		h6{
			color: $color-grey-dark-4;
			padding: 10px 5px 5px 10px;
			margin-bottom: 0;
			border-bottom: 1px solid #e3e8ec;
			margin: 0px 5px;
			font-size: 14px;
			a{
				text-decoration: none;
				color: $color-grey-dark-4;
				font-size: 1.3rem;
				margin-top: -6px;
				&:hover{
					color: rgba($color-grey-dark-4, 0.6);
				}
			}
		}
	}
}
.inputbox-settingform {
	border:1px solid #e4e7ea;
	.form-control{
        border:none;
    }
    .input-group-btn{
        padding:5px;
        background:$color-grey-light-2;
    }
	&.input-group {
		.form-control{
			padding-left:12px;
		}
		.input-group-btn{
			&.blue{
				background:#659AF2;
			}
			// .dropdown-menu{
			// 	h6{			
			// 		a{				
			// 			&.close-dropdown{
			// 				border: none;
			// 				border-image: none;
			// 				padding: 0px 5px;
			// 			}
			// 		}
			// 	}
			// 	li{
			// 		a{
			// 			color:$color-grey-dark-4;
			// 			label {
			// 				margin-bottom: 0;
			// 			}
			// 		}
			// 	}
			// }
		}
	}
	// .suggestion {
	// 	&.close {
	// 		&, &:hover, &:focus {
	// 			@include opacity (1);
	// 		}
	// 	}
	// 	&-dropdown{
	// 		top:100%;
	// 		right: 0;
	// 		left: auto;
	// 		li {
	// 			a {
	// 				&:hover{
	// 					color:$color-white !important;
	// 				}
	// 			}
	// 		}
	// 		h6{
	// 			color: $color-grey-dark-4;
	// 			padding: 5px 5px 5px 10px;
	// 			margin-bottom: 0;
	// 			a{
	// 				text-decoration: none;
	// 				color: $color-grey-dark-4;
	// 				font-size: 1.3rem;
	// 				&:hover{
	// 					color: rgba($color-grey-dark-4, 0.6);
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}

	
.modalheaderfilter{
	.dropdown-menu{  
		top: 54px;
		h6{			
			a{				
				&.close-dropdown{
					border: none;
					border-image: none;
					padding: 0px 5px;
				}
			}
		}
		li{
			a{	
				padding:5px 15px !important;
				color:$color-grey-dark-4;
				&:hover{
					color:$color-grey-dark-4 !important;
				}
			}
			
		}
	}
}
.modalpayroll{
	margin-left:20px;
	.dropdown-menu{  
		max-width: 200px;
		padding: 3px 8px;   
		font-style: normal;
		font-weight: normal;
		letter-spacing: normal;
		line-break: auto;
		line-height: 1.42857;
		text-align: left;
		text-align: start;
		text-decoration: none;
		color: #fff;
		text-align: left;
		background-color: #000;
		border-radius: 4px;
		text-transform: none;
		white-space: normal;
		word-break: normal;
		word-spacing: normal;
		word-wrap: normal;
		font-size: 12px;
		color: #fff;
		li{
			padding: 0 4px !important;
			a{	
				border-bottom: 1px solid $color-grey-light-4 !important;
				cursor: default;
			}
			
		}
	}
	&.dropup{
		.dropdown-menu{  
			top: auto;
		}
	}
}
.tab-modal{
	.modal-dialog{
		.modal-content{
			.modal-body{
				.tab-content{
					height: calc(100% - 42px);
					.tab-pane{
						height: 100%;
						.modal-grid{
							height: 100%;
						}
						&.tab-withgrid{
							.modal-grid-heading{
								height:calc(100% - 25px) !important;
							}
							.modal-grid{
								height:calc(100% - 110px - 2rem) !important;
							}
						}
						&.tab-withgridheading{
							.modal-grid{
								height:calc(100% - 150px) !important;
							}
						}
						&#secPayout	{
							.modal-grid{
								height:calc(100% - 90px) !important;
							}
						}
					}
				}
			}
		}
	}
}

#SendTestMailModal {
    z-index: 99999;
}
//Align modal vertically center
.modal-vcenter {
    .modal-dialog {
        position: absolute;
        right:10%;
        top:50%;
    }
}

//Activity Modal
.modal {
	&.modal-sidebar {
		.modal-content{
			.modal-header{
				.modal-title{
					@include text-overflow;
					max-width: 900px;
					vertical-align: bottom;
				}
				.program-truncate{
					@include text-overflow;
					vertical-align: bottom;
					display: inline-block;
					max-width: 350px;
					margin-right: 10px;
				}
				.program-truncate-long{
					@include text-overflow;
					max-width: calc(100% - 200px);
					vertical-align: middle;
					margin-right: 10px;
					display: inline-block;
				}
			}
			
		}
		&.activity-modal {
			.modal-dialog {
				.modal-content {
					background-color: transparent;
					@include box-shadow (none);
					.modal-body {
						height: calc(100vh - 113px);
						overflow: visible;
						@extend .padding-all-zero;
						&.nofooter{
							height: calc(100vh - 69px) !important;
						}
						.side-links {
							height: 100%;
							z-index: 2;
							@extend .padding-all-zero;
							ul {
								margin-bottom: 0;
								background-color: $color-white;
								@include box-shadow(-3px 3px 9px rgba($color-black, 0.15));
								li {
									border-right: 1px solid rgba($color-grey-dark-4, 0.2);
									display: inline-block;        
									position: relative;   
									width: 100%;
									&:last-child a{
										border-bottom:1px solid transparent; 
									}
									&:before, &:after{  
										content: "";
										display: block;
										width: 0;
										height: 0;
										position: absolute;                
										@include transition(all 0.7s ease-in-out);
									}
									&:before{
										border-bottom: 0px solid transparent;
										border-left: 0px solid $color-tertiary-light;                
									}
									&:after{
										border-top: 0px solid transparent;
										border-right: 0px solid $color-tertiary-light;
										bottom: 0;
										left: 74px;
									}
									&.active {
										&:before{
											border-bottom: 15px solid transparent;
											border-left: 15px solid $color-tertiary-light;                
										}
										&:after{
											border-top: 15px solid transparent;
											border-right: 15px solid $color-tertiary-light;
											left: 59px;
										}
									}
									&:hover{
										&:after,&:before{
											z-index: 0;
										}
										&:after{
											border-top:73px solid transparent;
											border-right: 74px solid rgba(70,121,189,0.1);
											left: 1px;
										}
										&:before{                
										  border-bottom: 73px solid transparent;
										  border-left: 74px solid rgba(70,121,189,0.1);
										}
									}
									a {
										display: block;
										text-align: center;
										
										font-size: 30px;
										color: #3D4D6C;
										position: relative;
										border-bottom: 1px solid rgba($color-grey-dark-4, 0.2);
										margin-left: 5px;
										margin-right: 5px;
										z-index: 2;
										padding: 10px 0;
									}
								}
							}
						}
						.activity-section {
							height: 100%;
							padding: 15px;
							background-color: $color-white;
							z-index: 1;
							overflow: hidden;
							@include box-shadow(0 0px 9px rgba($color-black, 0.3));
							#programanme {
								font-weight: 500;
								&::placeholder {
									font-weight: 300;
									font-style: italic;
								}
								&:-ms-input-placeholder {
									font-weight: 300;
									font-style: italic;
								}
								&::-ms-input-placeholder {
									font-weight: 300;
									font-style: italic;
								}
							}
							.activity-data{
								height:calc(100% - 50px);
							}
						}
						.suplier-add, .team-add {
							float: right;
							margin-bottom: 10px;
							@include border-radius (100%);							
							background:linear-gradient($color-tertiary-dark 0%, $color-tertiary-light 50%, $color-tertiary-medium 100%) !important;
							  @include box-shadow(0px 0px 8px 1px rgba(57, 73, 76, 0.35));
							  position: relative;

							  &:hover .btn-animate{
								@include opacity (1);
								  z-index: 4;
							  }
							.btn-animate{
								display: block;
								padding: 6px 8px;
								position: relative;
								@include transition(all .9s); 
								&:hover{										
									@include opacity (0.7);
								}
								.svg{
									z-index: 4;
								}
								// &:after{
								// 	position: absolute;
								// 	content: '';
								// 	top: 0;
								// 	left: 0;
								// 	width: 100%;
								// 	height: 100%;       
								// 	background:linear-gradient($color-tertiary-dark 0%, $color-tertiary-light 50%, $color-tertiary-medium 100%);
								// 	@include transition (opacity 0.5s ease-out);
								// 	z-index: 3;
								// 	@include opacity (0);
								// 	border-radius: 100%;
								//   }
								  &:hover:after{
									@include opacity (1);
								  }
							}
						}
						.program-name{
							color: $c-primary;
							font-weight: 500;
							font-family: $font-Muso500;
							line-height: 20px;
						}
						.tab-head{
							color: $color-tertiary-light;
							text-transform: uppercase;
							font-size: 1.4rem;
							font-weight: 500;
							font-family: $font-Muso500;
							padding-top:1rem;
							// padding-bottom: 1.5rem;
						}
						.tab-panel{
							.panel{
								border: none;
								@include box-shadow (none);
								.panel-heading{
									background-color: $color-grey-dark-4;
									.mail-content{
										.close{
											@include opacity (1);
											img{
												margin-top: -4px;
											}
										}
										.grid-heading{
											color: $color-white;
											display: inline;
											.label-addTag{
												margin-top: -4px;
											}
										}
									}
								}
							}
						}
					}
					.modal-footer {
						@extend .padding-all-zero;
						> div {
							background-color: $color-white;
							@include box-shadow(0 10px 9px rgba($color-black, 0.3));
							@extend .padding-top-ss;
							@extend .padding-bottom-ss;
							z-index: 1;
						}
						.save-option-btn{
							width:100%;
							margin:0;
						}
					}
				}
			}
		}
		&.view-program {
			.modal-dialog {
				.modal-content {
					.modal-body {
						height: calc(100vh - 65px) !important;
						.activity-section {
							padding: 0;
							.viewProgram {
								padding: 15px;
							}
						}
						hr {
							border-color: $color-grey-dark-4;
							margin-top: 0;
						}
						.form-control-static {
							padding-left: 10px;
						}
					}
				}
			}
		}
	}
}

.activity{
	&__timeline{
		height: 100%;
	}
	&__timespan{
		text-align: right;
		border-bottom: 1px solid $color-grey-light-4;
		color:$color-grey-dark-4;
		font-style: italic;
		font-size:10px;
	}
	&__name{
		margin-top:10px;
		margin-bottom: 5px;
	}
	&__data{
		padding-left: 20px;
	}
	.comment-name{
		display: inline-block;
		max-width: 470px;
		vertical-align: bottom;
		color:$c-primary;
		font-weight: 500;
		font-family: $font-Muso500;
	}
	.comment-details{
		font-size:12px;
	}
	.comment-list{
		li{
			color:$c-primary;
			font-weight:normal;
			font-size:12px;
		}
	}
}
.alert-lockedUser {
    position: absolute;
    top: -20px;
    background-color: $color-secondary-medium;
    padding: 0px 10px;
    font-size: 12px;
    left: 75px;
	z-index: 999;
	color:$color-white;
		&:after {
		content: "";
		height: calc(100vh - 68px);
		width: 825px;
		border: 2px solid $color-secondary-medium;
		position: absolute;
		left: 0;
		top: 19px;
	}
}
.main-detail {
    padding: 10px 0;
}
#autoUpdatecheck {
    position: absolute;
    background: $color-white;
    z-index: 9;
    left: calc(40% + 100px);
	top: 48px;
	ul{
		border: 1px solid #e4eeef;
		margin: 0;
		@include border-radius (4px);
		display: inline-table;
		li{
			a{
				font-size: 20px;
				color: $color-grey-dark-4;
				padding: 0px;
				display: inline-block;
				.svg-icn{
					top:4px;
				}
			}
		}
	}
}
.selected-paydetail{
	&, &:hover {
		background: #e8eaf6 !important;
	}
}
.modal.modal-center{
	&.fade {
		.modal-dialog{
			.modal-content{
				@include border-radius (0);
				.modal-header{
					background:linear-gradient($color-blue-dark, $color-blue-medium);
					color:$color-white;
					padding:23px 15px;
					.modal-title {
						font-weight: 400;
						font-size:16px;
						font-family: 'TisaOT-Medi';
						letter-spacing: 1.5px;
					}
					.close{
						@include opacity (1);
						&:hover img{
							@include opacity (0.7);
						}
						&:focus{
							outline: none;
						}
					}
				}
				.modal-body{
					.search-admin{
						position: relative;
						.searchicon{
							position: absolute;
							right: 5px;
							top: 6px;
							background: transparent;
							border: none;
							width: 20px;
							cursor: pointer;
						}
					}
				}
				.modal-footer{
					border-top: none;
				}
			}
			
		}
	}
}
.list-selectedUsers{
	margin-top:20px;
}
.selected-userLogin:before {
    position: absolute;
    right: 15px;
    @include transform(rotate(10deg));
    color: $color-tertiary-light;
    font-size: 14px;
    content:'✔';
    // background:url('#{$images-path}/tick.png');
    // background-repeat: no-repeat;
    // background-position: center right 15px;
}
.select-userLogin {
	padding:0;
    margin-top:30px;
	li{
		a{
			list-style:none;
			cursor:pointer;
			display: block;
			padding: 15px;
			color:$color-grey-dark-4 !important;
			text-decoration: none;
			background-color: $color-white;
			border-bottom: 1px solid #e4e7ea;
	
			&:hover{
				background-color:#efefef;
				@include box-shadow (0px 1px 2.85px 0.15px rgba(198, 198, 198, 0.47));
			}
		}
	}
}
.select-userLogin a:hover{
  background-color:#efefef;
}

.searchinput-admin{
    max-width: 100%;
    width: 100%;
    height: auto;
    @include opacity (1);
    top: 18px;
    right: 10px;
    padding-left: 0px;
    outline: none;
    border-top: 0;
    font-size: 14px;
    border-left: 0;
    border-right: 0;
}

.activity-save {
	.btn{
		.caret{
			margin-left:5px;
		}
	}
}
.input-attachment{
	border: 1px solid #e4e7ea;
	input{
		border:0;
	}
	.input-group-btn{
		.btn{
			padding:0;
			padding-right: 20px;
			padding-bottom: 5px;
			&:active, &:focus, &:hover{
				background-color:transparent !important;
				border:none;
				box-shadow: none;
			}
		}
	}
}
.chat-box{
	.chat-list{
		.even{
			min-width:92%;

			.chat-body{
				background-color: #94d8f6;
				padding: 10px 15px;
				width: auto;
				display: block;
				float: left;
				clear: both;
				border-radius:2px;
				margin-bottom:10px;
			}
		}
		.odd{
			min-width:92%;
		}
		.chat-body{
			background-color: $color-grey-light-4;
			padding: 10px 15px;
			width: auto;
			display: block;
			float: right;
			clear: both;
			border-radius:2px;
			margin-bottom:10px;
		}
	}
}
.chat-footer{
	position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    z-index: 5;
    background-color: $color-grey-light-4;
	.input-chatfooter{
		input{
			border:0;
		}
		.input-group-btn{
			.btn{
				padding:4px 0px;
				padding-right: 20px;
				padding-bottom: 5px;
				&:active, &:focus, &:hover{
					background-color:$color-white;
					border:none;
					box-shadow: none;
				}
			}
		}
	}
}
.display-employeedata{
	.displayEmployee {
		&-heading{
			padding: 10px;
			margin-top: -2px;
			border-radius: 0;
			background-color: #f0f3f4;
			border-bottom: 4px solid $color-grey-light-4;
			color:$c-primary;
			
			&:hover{
				.btn-link{
					visibility: visible;
				}
			}
		}
		&-content{
			height:147px;
		}
		&-inner{
			.row{
				padding:7px 0;
				padding-left: 15px;
				border-top:1px solid $color-grey-light-4;
				border-bottom:0;
			}
		}
	}
}

.payoutcasevalues {
	display: inline-block;
	.editableform{
		display: inline-block;
    	width: 100px;
	}
	.editable-clear-x{
		top:50%;
	}
}
.payout-data{
	.editable-clear-x{
		right:70px;
	}
}
.input-group-merge-right{
	position: relative;
	.form-control{
		padding-left:12px !important;
	}
}
.tab-scroll-nofooter{
	height:100% ;
}
.input-payout{
	.input-group-addon{
		top: -18px;
		left: 2px;
	}
	~ .editable-clear-x{
		top:3%;
	}
}
.input-paid{
	.input-group-addon{
		border-right: 0;
		height: 24px;
		line-height: 24px;
		margin: 0;
		width: 9px;
	}
	.payout-paid{
		background-color: transparent;
		color:#697279;
		border: 0;
		line-height: 24px;
		height: 24px;
		border: 1px solid transparent;
		&:hover, &:focus{
			color:#697279;
			text-decoration: none;
		}
	}
}
.incentive-view{
	.activity-section{
		height: 100%;
    	overflow: hidden;
	}
	.tab-content{
		height: calc(100% - 42px);
	}
	.tab-pane {
		height:100%;
	}
	.modal-grid-heading{
		height:100%;
	}
	.modal-grid{
		height:100%;
	}
}
.page-content-grid{
	.grid-detail.grid-customer-incentive{
		.grid-item{
			.row{
				padding:0 !important;
				border-bottom:none !important;
				&:hover{
					box-shadow: none !important;
					background-color: transparent !important;
				}
				.grid-heading{
					text-transform: capitalize;
					color: #44474c;
					font-family: "MuseoSans-500";
					font-weight: 500;
					max-width: calc(100% - 180px);
					display: inline-block;
					vertical-align: top;
				}
			}
		}
	}
}
.grid-history{
	border-bottom:1px solid #f2f5f6;
}
a#editdata {
    margin-left: 5px;
}
.team-add{
	.dropdown-menu{
		max-height: 290px !important;
		overflow-y: scroll;
	}
}
textarea.logvisittextarea{
	height:350px;
}
.salesteam-chain {
    text-align: right;
}
@media (max-width:1024px){	
	textarea.logvisittextarea{
		height:200px;
	}
}
@media (max-width:1023px){
	.salesteam-chain {
		text-align: left;
		padding-left:15px;
	}
}