//svg Images
.svg{
    pointer-events:none;
    &-icn {
        max-width: 24px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        display: inline-block;
        @include h-size(0, 0, 24px, 24px);
    }
    path, rect, polygon, circle{
        fill:#222b37;
    }
    &-rotate{
        transform: rotate(50deg);
    }
}
.c-grey{
    path, rect, polygon, circle{
        fill: $color-grey-dark-4;
    }
}
.c-cross-grid{
    @include h-size(0,0, 20px, 20px);
    path, rect, polygon, circle{
        fill: $color-grey-dark-4;
    }
}
.c-white-grid{
    @include h-size(3px, -6px, 18px, 18px);
    path, rect, polygon, circle{
        fill: $color-white;
    }
}
.c-blue{
    @include h-size(4px, 0, 18px, 18px);
    path, rect, polygon, circle{
        fill: $color-tertiary-light;
    }
}

.h-search-extended{
    @include h-size(-7px, 0, 23px, 17px);
}
.h {
    &-search {
        @include h-size(1px, 0, 26px, 26px);
        &-search {
            @include h-size(4px, 0, 26px, 26px);
        }
        &-calendar{
            @include h-size(10px, 11px, 15px, 15px);
            position: absolute;
            &left{
                @include h-size(7px, 20px, 15px, 15px);
                position: absolute;
            }
            &right{
                @include h-size(7px, 8px, 15px, 15px);
                position: absolute;
            }
        }
        &-modalicon{
            @include h-size(0, 0, 15px, 15px);
        }
        &-grey{
            fill:$color-grey-dark-4;
        }
        &-attach{
            @include h-size(-1px, -10px, 24px, 24px);
        }
    }
    &-calendar{
        @include h-size(10px, 11px, 15px, 15px);
        position: absolute;
        &left{
            @include h-size(7px, 20px, 15px, 15px);
            position: absolute;
        }
        &right{
            @include h-size(7px, 8px, 15px, 15px);
            position: absolute;
        }
    }
    &-modalicon{
        @include h-size(0, 0, 15px, 15px);
        &inside{
            @include h-size(3px, 0, 15px, 15px);
        }
    }
    &-grey{
        fill:$color-grey-dark-4;
    }
    &-attach{
        @include h-size(-1px, -10px, 24px, 24px);
    }
    &-green {
        path, rect, polygon, circle{
            fill:$color-success;
        }
    }
    &-white {
        path, rect, polygon, circle{
            fill:$color-white;
        }
    }
    &-red {
        path, rect, polygon, circle{
            fill:$color-red-dark;
        }
    }
}
.side-links {
    > ul {
        > li {
            &:hover, &.active, &.active:hover {
                i {
                    .svg {
                        path, rect, polygon, circle {
                            fill:#3977ad;
                        }
                    }
                }
            }
        }
    }
}