.main-grid-title{
	width: calc(100% - 70px);
	background-color: $color-grey-light-4;
	position: fixed;
    left: 85px;
    top: 65px;
    z-index: 3;
	padding:15px 10px;
	
    .align-count{
	    width: 150px;
	    display: inline-block;
	    text-align:left;
		line-height:24px;
		&.programCount{
			cursor: pointer;
			&.active {
				position: relative;
				h1{
					color: $color-tertiary-light;
				}
			}
		}
		span{
            font-family: $font-Muso500; 
			font-size: 1.2rem;
            color:$color-grey-dark-4;
			text-transform: uppercase;
			line-height: 24px;
		}
	    h1{
            font-family: $font-Muso700;
			font-size: 2.4rem;	
            color: $c-primary;
		}
    }
    .applied-filters{
		margin:14px 0;
		.label-custom-filters{
			white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    display: inline-block;
		    max-width: 200px;
	        vertical-align: middle;
    	}
    	.more-anchor{
			font-size: 1.2rem !important;
			color: $color-tertiary-light;
			margin-left:10px;
		}
    }
}
.report-pagination{
    display: inline-block;
	margin: 14px 0;
	.custom-pagination{
		position: relative;
		display: inline-block;
		i{
			color:#697279;
		}
		.angleOne{
			position: absolute;
			left: -14px;
			top: -18px;
			padding: 0;
		}
		.angleTwo{
			position: absolute;
			left: 5px;
			top: -18px;
			padding: 0;
		}
		.angleThree{
			position: absolute;
			right: -149px;
			top: -18px;
			padding: 0;
		}
		.angleFour{
			position: absolute;
			right: -168px;
			top: -18px;
			padding: 0;
		}
		.pagination-bg{
			display: inline-block;
			position: absolute;
			left: 18px;
			padding: 0 10px;
			right: 0;
			top: -16px;
			margin: 0 auto;
			width: 250px;
		}
		.paging-input{
			display: inline-block;
			width: 70px;
			height: 21px;
			border-color: #e4e7ea;
			border-radius: 2px;
			font-weight: 300;
    		font-family: "MuseoSans-300";
		}
	}
	#paging-select{
		border-color: #e4e7ea;
		border-radius: 2px;
	}
	.page-count{
		display: inline-block;
		padding: 0px 40px;
		margin-top: 5px;
	}
	.total-results{
		display: inline-block;
		font-weight: bold;
	}
	#width_paging-select {
		display: none;
	}
}