//Typeahead
.typeahead{
    &.dropdown-menu{
        max-height: 160px;
        overflow-y: auto;
        overflow-x: hidden;
        @include border-radius (0);
        width:100%;
        li{
            a{
                strong{
                    font-weight:normal !important;
                    font-family: $font-Muso !important; 
                }
            }
        }
    }   
}