$font-path: "https://cdn.vineforce.com/vineforce/fonts" !default;
$images-path: "https://cdn.vineforce.com/vineforce/images" !default;
$font-Muso: 'MuseoSans-300';
$font-Muso500: 'MuseoSans-500';
$font-Muso700: 'MuseoSans-700';
$font-Tisa: 'TisaOT';

// Font Size
$default-font-size: 1.6rem;

// Widths
$w-5: 5px;

$color-secondary-dark: #f6b151;
$color-secondary-medium: #ffb647;

$color-green:#26c281;
$color-green-dark:#57ce66;

$color-tertiary-light: #639af5;
$color-tertiary-dark: #595eff;
$color-tertiary-medium: #5dc9ff;

$color-tertiary-dark-1: #6263f5;

$color-red-dark: #db403f;

$color-success:$color-green-dark;

$color-blue-dark: #383c53;
$color-blue-medium: #3974aa;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3:#303045;
$color-grey-dark-4: #697279;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #f7f9f9;
$color-grey-light-4: #f2f5f6;
$color-grey-light-5: #cccccc;

$c-primary: #44474c;
$c-secondary: #5e6064;